<h1>Tickets</h1>

<% @tickets.each do |ticket| %>
  <div class="ticket">
    <%= link_to ticket.tess_text, ticket_path(ticket) %>
    <%= image_tag(ticket.ticket_img.url(:thumb)) %>
  </div>
<% end %>

<%= link_to "Add a new concert ticket", new_ticket_path %>
